<div class="container">
  <div class="row ">
      <div class="col-md-5  p-2 text-white rounder-0 mb-3">
        <h3 class="text-black">Filtros</h3>
        <form action="/clientFilter" method="POST">  
        <label for="clientFilter" class="text-black">Cliente:</label> 
            <select class='form-control rounder-0 bg-dark text-white mb-3'name="clientFilter" id="clientFilter">
              <option>Todos</option>
              {{#each clients}}
              <option value="{{this.clientName}}">{{this.clientName}}</option>
              {{/each}}
           </select>       
        <label for="statusFilter" class="text-black">Estado:</label> 
            <select class='form-control rounder-0 bg-dark text-white mb-3'name="statusFilter" id="statusFilter">
              <option>Todos</option>
              {{#each bkpStatus}}
              <option value="{{this.status}}">{{this.status}}</option>
              {{/each}}
           </select>       
          <button class="btn btn-warning btn-sm mt-2">Filtrar</button>
        </form>
  </div>
</div>